<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
   <title>Welcome Flask API</title>
</head>
<section>
   <nav>
       <div class="topnav">
           <h2><a href="http://127.0.0.1:8080/register"><i class="fa fa-fw fa-envelope"></i>Signup</a></h2>
           <h2><a href="http://127.0.0.1:8080/login"><i class="fa fa-fw fa-user"></i>Login</a></h2>

       </div>
   </nav>
</section>
{% block body %}

{% endblock %}
</html>
